<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav id="navbar">
        <div id="branding">
            <div>Logo</div>
            <div>Brand name</div>
        </div>
        <div id="links">
            <div class="link">About us</div>
            <div class="link">Contact us</div>
            <div class="link">Careers</div>
        </div>
    </nav>
</body>
</html>