<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <footer id="footer">
        <div id="links">
            <div class="link">About us</div>
            <div class="link">Contact us</div>
            <div class="link">Careers</div>
        </div>
        <div id="socials">
            <div class="social"><a href="#">Instagram</a></div>
            <div class="social"><a href="#">Facebook</a></div>
            <div class="social"><a href="#">Twitter</a></div>
        </div>
    </footer>
</body>
</html>