<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div id="contact-form">
        <form action="#" id="form">
            <input type="email" class="fields" placeholder="Email">
            <input type="number" class="fields" placeholder="Phone number">
            <textarea type="text" class="fields" placeholder="Description"></textarea>
        </form>
        <div id="details">
            <div class="details-item">
                This is address.
            </div>
            <div class="details-item">
                This is email address.
            </div>
            <div class="details-item">
                This is phone number.
            </div>
        </div>
    </div>
</body>
</html>